.content{
    display: flex;
    flex-direction: column;
}

.content button{
    float: right;
    margin-bottom: 10px;
    float: right; 
    background-color: #00609F;
    color: #fff; 
    border: none; 
    width: 120px; 
    height: 40px; 
    outline: none;
    transition: .3s;
    border-radius: 5px;
}

.content button:hover{
    background-color: #025891;
}