<div class="login">
    <div class="logo">
      <img src="../../assets/img/CsvMapping.png" alt="CsvMapping">
    </div> 

    <div class="alert" style="display: block;">
      <alert type="{{type}}" [ngStyle]="{'display': alertMessage.length > 0 ? 'block' : 'none'}">
        {{alertMessage}}
      </alert>
    </div>
      
    <app-cube-loading *ngIf="isClicked"></app-cube-loading>
    
    <div class="main">
      <div class="content">
        <h1>Réinitialisation mot de passe</h1>
        <form [formGroup]="userForm">
          <div class="form-content">
            <label for="email">Email</label>
            <input type="email" formControlName="email">
            <button type="button" [ngStyle]="{'background-color': !blockButton ? '#00609F' : '#ccc'}"
                                  [disabled]="blockButton" (click)="onSubmit()">Envoyer le code</button>
          </div>
        </form>
      </div>
    </div>
  </div>