<div class="login">
    <div class="logo">
      <img src="../../assets/img/CsvMapping.png" alt="CsvMapping">
    </div>

    <div [ngStyle]="{'display': alertMessage.length > 0 ? 'block' : 'none'}" class="alert">
      <alert type="{{type}}">
        <span>{{ alertMessage }}</span>
      </alert>
    </div>  
  
    <div class="main">
      <div class="title">
        <h1>Modification du mot de passe par défaut</h1>
      </div>
      
      <div class="content">
        <form [formGroup]="userForm">
          <div class="form-content">
            <label for="password">Nouveau mot de passe</label>
            <input type="password" placeholder="8+ caractères" formControlName="newPassword">
            <label for="password">Confirmation mot de passe</label>
            <input type="password" placeholder="8+ caractères" formControlName="confirmNewPassword">
            <button type="button" [ngStyle]="{'background-color': !blockButton ? '#00609F' : '#ccc'}"
                                  [disabled]="blockButton" (click)="onSubmit()">Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>